# IDE folders
/.idea
/.vscode

# Environment variables
/**/*.env

# Executable files
/**/*.exe

# Private and public keys
/keys
/**/*.ed
/**/*.pub
/**/*.pem

# Certificates
/certificates

# Commands
/**/*.cmd
/**/*.sh
/**/*.bat

# Service account keys
/iam
/**/service-account.json

# Swagger files
# /docs